<h1><%= t("app.name") %></h1>

<p><%= t("user_mailer.account_activation.greeting", name: @user.name) %></p>

<p><%= t("user_mailer.account_activation.instruction_html") %></p>

<%= link_to t("user_mailer.account_activation.action"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
